@import '~/css/core.light.css';

.font-awesome {
  font-family: "FontAwesome";
}

.title {
    font-size: 30;
    margin: 20;
}

Button {
  font-size: 50;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}
