@import '~/css/core.light.css';

.font-awesome {
  font-family: "FontAwesome";
}

.title {
    font-size: 30;
    margin: 20;
}

Button {
  font-size: 50;
}
Label {
  color: #f48942;
  font-weight: bold;
}
Image {
  height: 76;
  width: 76;
  border-radius: 20%;
}
.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}
