@import '~/css/core.light.css'; 

.font-awesome {
  font-family: "FontAwesome";
}
﻿button, label, stack-layout {
    horizontal-align: center;
}

button {
  background-color: #4286f4;
  color: white;
  margin-top: 20;
  font-size: 30;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}
